*{
    font-family: "Myriad Pro";
    }
    .footer{
    background-color: #666666;
    }
    .image{
    margin: 1%;
    }
    .color{
    color: #FFFFFF;
    }
    .border-danger{
    color: #666666 !important;
    }
    .border-bottom{
    border-bottom: 2px solid #666666 !important;
    }
    .w-25{
        width: 33% !important;
    }
    .titre{
        padding-top: 0.5rem !important;
    }