* {
    font-family: "Myriad Pro";
}

.footer {
    background-color: #666666;
    position: absolute;

}

.image {
    margin: 1%;
}

.color {
    color: #FFFFFF;
}

.border-danger {
    color: #666666 !important;
}

.border-bottom {
    border-bottom: 2px solid #666666 !important;
    }
    .w-25{
        width: 33% !important;
    }
    .titre{
        padding-top: 0.5rem !important;
    }
}

.w-25 {
    width: 33% !important;
}

.align {

    background-image: url(media/alexander-redl-185764-unsplash.jpg);
    background-size: cover;
    height: 100em;
    width: 100%;
    background-position: center;

}

.pourSportif {
    color: #cc3333;
    font-size: 9rem;
    padding: 0;
    margin: 0;
}

p {
    margin-bottom: 0rem !important;
    padding: 0rem !important;
}

.mb-2 {
    margin-bottom: -1.5rem !important;
}

.pl-5 {
    padding-left: 26rem !important;
}

.pl-4 {
    padding-left: 14.5rem !important;
}

.pt-5 {
    padding-top: 6rem !important;
}

.pl-1 {
    padding-left: 2.25rem !important;
}
#mybtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 12%; /* Place the button at the bottom of the page */
    right: 5%; /* Place the button 30px from the right */
    z-index: 20; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    width: 50px;
    height: 50px;
    background-image: url(media/fleche.svg);
    background-size: cover; 
    background-color: transparent;
}

